<header class="header">
	<!-- <h2>page header</h2> -->
	<a href="#" class="logo">Codieal</a>
	<nav>
		<ul class="nav_links">
			<% if(locals.user){ %>
			<li><a href="/users/profile" class="nav_logo"> <%= user.name %> </a></li>
			<li><a href="/users/sign-out">Sign Out</a></li>
		</ul>
		<% }else{ %>
		<button><a href="/users/sign-in"> Sign In </a></button>
		<button><a href="/users/sign-up"> Sign Up </a></button>
		<% } %>
	</nav>
</header>
